/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 998;
}

nav {
	display: flex;
	flex-flow: column wrap;
}

.top-navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	background-color: black;
}

.top-navbar img {
	height: 50px;
	width: 150px;
	cursor: pointer;
}

.top-navbar ul {
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.top-navbar ul li {
	display: inline;
}

.top-navbar a {
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid red;
	text-decoration: none;
	color: red;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Press Start 2P', cursive;
}

.top-navbar a:hover {
	color: white;
}

.fa-bookmark {
	font-size: 20px;
}

.bottom-navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	background-color: gray;
	align-items: center;
}

.bottom-navbar ul {
	padding-left: 25px;
}

.bottom-navbar ul li {
	display: inline;
}

.bottom-navbar a {
	text-decoration: none;
	padding: 0 10px;
	color: black;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Orbitron', sans-serif;
}

.bottom-navbar a:hover {
	color: white;
}

.bottom-navbar form {
	padding-right: 15px;
	width: 300px;
}
.bottom-navbar button {
	cursor: pointer;
	background-color: lightgray;
	border: 2px solid black;
	border-left: 1px solid black;
	height: 26px;
	width: 35px;
}

.bottom-navbar input {
	border: 2px solid black;
	border-right: 1px solid black;
	background-color: lightgray;
	width: 80%;
	height: 20px;
}


